@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply overflow-x-hidden font-poppins tracking-wider text-primaryColor dark:bg-darkBodyColor dark:text-textColor;
  }

  section {
    @apply min-h-screen py-6 md:pb-20 md:pt-28;
  }
}

@layer components {
  .wrapper {
    width: min(1340px, calc(100% - 32px));
    margin-inline: auto;
  }

  .nav-link {
    @apply relative font-bold capitalize text-textColor dark:text-textColor lg:text-primaryColor;
  }

  .nav-link::before {
    @apply absolute -bottom-[5px] left-0 h-[2px] w-full origin-right scale-x-0 bg-gradient-to-r from-primaryColorLight to-primaryColor transition-transform duration-500 ease-in-out content-[""];
  }

  .nav-link:hover::before {
    @apply origin-left scale-x-100;
  }

  .btn {
    @apply relative flex items-center overflow-hidden rounded-full bg-gradient-to-r from-primaryColorLight to-primaryColor px-7 py-3 font-bold capitalize text-whiteColor;
  }

  .btn::before {
    @apply absolute left-0 top-0 h-full w-full origin-right scale-x-0 rounded-full bg-gradient-to-r from-primaryColor to-primaryColorLight transition-transform ease-in-out content-[""];
  }

  .btn:hover::before {
    @apply origin-left scale-x-100;
  }

  .btn_outline {
    @apply rounded-full border border-primaryColorLight px-9 py-4 text-primaryColorLight transition-all duration-300 ease-in-out hover:bg-primaryColorLight hover:text-primaryColor;
  }

  .subtitle,
  .title {
    @apply inline-block bg-gradient-to-r from-primaryColorLight to-primaryColor bg-clip-text pb-2 text-4xl font-bold text-transparent dark:to-whiteColor lg:text-6xl xl:text-[65px];
  }

  .subtitle {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
}

@layer utilities {
  .social_icon {
    @apply relative grid h-10 w-10 cursor-pointer place-content-center rounded-full border border-primaryColorLight text-primaryColorLight duration-300 hover:text-whiteColor;
  }

  .social_icon::before {
    @apply absolute inset-0 h-full w-full scale-0 rounded-full bg-primaryColorLight transition-transform duration-300 ease-in-out content-[""];
  }

  .social_icon:hover::before {
    @apply origin-center scale-100;
  }

  /* My quality service */
  .service_item {
    @apply flex cursor-pointer flex-wrap items-center gap-3 border-b border-primaryColorLight px-4 py-8 duration-300 hover:bg-primaryColorLight;
  }

  .service_item div p {
    @apply duration-300;
  }

  .service_item:hover div p {
    @apply text-whiteColor;
  }

  .service_item div i {
    @apply duration-300;
  }

  .service_item:hover div i {
    @apply -rotate-90 text-whiteColor;
  }
}
